* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
  }
  
  body {
    background-color: rgb(247, 247, 247);
    justify-content: center;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex: auto 1 10; */


  }
  
  .header-container {
    background-color: #5C687C;
    display: flex;  
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    width: 268px;
    order: 1;
  }
  
  .menu-container {
    display: flex;
    width: 500px;
    order: 2;


  }
  
  .menu-container ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-self: center;
  }
  
  .menu-container li {
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    list-style: none;
    margin-right: 10px;
  }







  .main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: auto;
 

  }
  
  .movie-container {
    display: flex;
    flex-direction: column;
  }
  
  .movie-container h2 {
    margin: 40px 0;
    text-align: center;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 700px;
  }
  
  .card-container div {
    align-items: center;
    background-color: #5C687C;
    border: black solid 1px;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 10px;
    width: 16%;
    flex: auto 1 10;
  }
  
  .aside-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 350px;
    flex: auto;

  }
  
  .aside-container h3, h4 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .aside-container p {
    margin: 10px 0;
    text-align: justify;
 

  }